<!-- <p>prova works!</p> -->
<!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->


<!-- --String interpolation-- -->
<!-- <mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{ cani[0].nome.toUpperCase() }}</mat-card-title>
    <mat-card-subtitle>{{ cani[0].razza }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{ 6 > 5 ? 'This card indeterminates progress bar.' : 'false'}}</p>
    <p>{{ cani[0].descrizione }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<!-- --Property binding-- -->
<!-- <button mat-raised-button color="primary" [disabled]="isDisabled">Primary</button>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="img" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card> -->


<!-- --Event binding-- -->
<!-- <button mat-raised-button color="primary" (click)="logClick(this)">Primary</button> -->

<!-- <mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" (input)="onInput($event)">
</mat-form-field> -->


<!-- --2 Ways Binding-- -->
<!-- <button mat-raised-button color="primary" (click)="onClick($event)">Primary</button>
<mat-form-field class="example-full-width">
  <mat-label>Favorite food</mat-label>
  <input matInput placeholder="Ex. Pizza" [(ngModel)]="title">
</mat-form-field>
<p>{{title}}</p> -->


<!-- --Test direttiva *ngIf-- -->
<!-- <p *ngIf="isVisible">Test ngIf 1</p>
<p *ngIf="isVisible2">Test ngIf 2</p> -->

<!-- --Se l'ngIf è false viene mostrato l'else ovvero bloccoElse che viene dato a ng-template con # -->
<!-- L'else è utilizzabile solo su ng-template e non su tag normali-- -->
<!-- <p *ngIf="isVisible2; else bloccoElse">Sono visibile</p>
<ng-template #bloccoElse>
  <p>non sono visible</p>
</ng-template> -->

<!-- --Opzione con then là dove fosse vero l'if-- -->
<!-- <ng-template *ngIf="isVisible; then bloccoIf else bloccoElse"></ng-template>
<ng-template #bloccoIf>
  <p>Sono visibile</p>
</ng-template>
<ng-template #bloccoElse>
  <p>Non sono visible</p>
</ng-template> -->


<!-- --Direttiva *ngFor-- -->
<!-- <ul>
  <li *ngFor="let persona of persone; index as i">
    Utente n° {{i}}: {{persona.nome}} - {{persona.cognome}}
  </li>
</ul> -->

<!-- --Esempio ngSwitch-- -->
<!-- <div [ngSwitch]="numeroSwitch">
  <p *ngSwitchCase="1">uno</p>
  <p *ngSwitchCase="2">due</p>
  <p *ngSwitchCase="3">tre</p>
  <p *ngSwitchCase="4">quattro</p>
  <p *ngSwitchDefault>default</p>
</div>

<div [ngSwitch]="testoSwitch">
  <p *ngSwitchCase="'uno'">uno</p>
  <p *ngSwitchCase="'due'">due</p>
  <p *ngSwitchCase="'tre'">tre</p>
  <p *ngSwitchCase="'quattro'">quattro</p>
  <p *ngSwitchDefault>default</p>
</div> -->

<!-- --Esempio ngStyle-- -->
<ul>
  <li *ngFor="let persona of persone">
    <div class="cerchio" [ngStyle]="{'background': persona.isOnline ? 'green' : 'red'}"></div>
    <p>{{persona.nome}} {{persona.cognome}}</p>
  </li>
</ul>
