<!-- --Esempio prop-- -->
<!-- <app-prova [data]="shareData"></app-prova> -->


<!-- --Esempio emit-- -->
<!-- <app-prova (mandaDatiEvento)="recivedData($event)"></app-prova> -->


<!-- --Esempio Variabili Template-- -->
<!-- <input #inputValue value="Ciao">
<button (click)="onClick()"></button> -->


<!-- --Esempio direttiva-- -->
<!-- <h2>Scegli il colore dell'evidenziatore</h2>
<div>
  <input type="radio" name="coloreEvidenziatore" (click)="colore = 'red'">Rosso
  <input type="radio" name="coloreEvidenziatore" (click)="colore = 'pink'">Rosa
  <input type="radio" name="coloreEvidenziatore" (click)="colore = 'purple'">Viola
</div>

<p [appHighlight]="colore" defaultHighlight="blue">Ciao sono un paragrafo</p> -->


<!-- --Esempio pipe-- -->
<!-- <p>Ciao benvenuti al {{title | uppercase}}</p>
<p>Oggi è {{today | date:'short'}}</p>
<p>Oggi è {{today | date:'d/MMM/yyyy - h:mm:ss'}}</p>
<p>Sono le {{today | date:'h:mm:ss'}}</p>
<p>{{numero | number:'2.1-4'}}</p>
<p>{{numero | percent}}</p>
<p>{{numero | currency:'EUR'}}</p> -->


<!-- --Esempio routing-- -->
<p><a routerLink="">Home</a></p>
<p><a routerLink="about">About</a></p>
<p><a routerLink="contact">Contact</a></p>

<router-outlet></router-outlet>
